article .lineitem4 {/*svg arrow use*/
    width: 30%;
    min-width: 200px;
    min-height: 5vh;
    display: inline-block;
    margin: 3em auto 0px auto;
    -webkit-background-size:100%;
    background-size:100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("../images/art_item4/lineitem4.svg");
}

/*=========== slide ============*/
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 2;
    background: rgba(0, 0, 0, 0.2);
	
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #de491f;
}


.swiper-slide {
	float: left;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.swiper-slide[data-slide="1"] {
	background-image: url('../images/art_item4/Z001.jpeg');
}
.swiper-slide[data-slide="2"] {
	background-image: url('../images/art_item4/Z002.jpeg');
}
.swiper-slide[data-slide="3"] {
	background-image: url('../images/art_item4/Z003.jpeg');
}
.swiper-slide[data-slide="4"] {
	background-image: url('../images/art_item4/Z004.jpeg');
}
/*=========== slide end ============*/
.ui-mask {/*header swiper-slide mask div*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.33);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to top, #000000 80%, rgba(249, 249, 249, 0.28));
    /* For Safari 5.1 to 6.0*/
    background: -o-linear-gradient(to top,#000000 80%, rgba(249, 249, 249, 0.28);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to top,#000000 80%, rgba(249, 249, 249, 0.28);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #000000 80%, rgba(249, 249, 249, 0.28);
    /* Standard syntax */

}
