
.icon-food:before { content: '\e900'; } /* '' */
.icon-map:before { content: '\e902'; } /* '' */
.icon-link:before { content: '\e903'; } /* '' */
.icon-phone:before { content: '\e904'; } /* '' */
.icon-thumbs-up:before { content: '\e905'; } /* '' */
.icon-star:before { content: '\e906'; } /* '' */
.icon-map-1:before { content: '\e907'; } /* '' */
.icon-location:before { content: '\e908'; } /* '' */
.icon-flag-filled:before { content: '\e909'; } /* '' */
.icon-thumbs-up-1:before { content: '\e90a'; } /* '' */
.icon-flag:before { content: '\e910'; } /* '' */
.icon-angle-right:before { content: '\e911'; } /* '' */
.icon-minus:before { content: '\e912'; } /* '' */
.icon-right-open-mini:before { content: '\e913'; } /* '' */
.icon-dot:before { content: '\e914'; } /* '' */
.icon-record:before { content: '\e915'; } /* '' */
.icon-record-outline:before { content: '\e916'; } /* '' */
.icon-phone-outline:before { content: '\e917'; } /* '' */